<%- include('./partials/header') %>
<div class="container-fluid">
    <form action="/sign_in" method="POST" class="border rounded px-3 mt-3">
        <div class="form-group mt-2">
            <label for="username" class="text-muted">Username</label>
            <input type="text" class="form-control" placeholder="e.g. Ash Ketchum" name="username">
        </div>
        <div class="container-fluid px-0 d-flex justify-content-end">
        <button class="btn btn-outline-secondary btn-lg mb-3 px-5" type="submit">Sign In</button>
        </div>
    </form>
</div>  
<%- include('./partials/footer') %>